In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm    # statsmodels
import statsmodels.formula.api as smf

In [3]:
# Carregando os dados
# https://www.kaggle.com/uciml/pima-indians-diabetes-database
df = pd.read_csv('diabetes.csv')

In [5]:
#pegar amostra extrtificada por sexo
df_m = df[df['Outcome']==1]
df_f = df[df['Outcome']==0]

In [6]:
df_m = df_m.sample(n=268, random_state=0)
df_f = df_f.sample(n=268, random_state=0)

In [7]:
df_m

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
236,7,181,84,21,192,35.9,0.586,51,1
750,4,136,70,0,0,31.2,1.182,22,1
207,5,162,104,0,0,37.7,0.151,52,1
219,5,112,66,0,0,37.8,0.261,41,1
476,2,105,80,45,191,33.7,0.711,29,1
...,...,...,...,...,...,...,...,...,...
730,3,130,78,23,79,28.4,0.323,34,1
542,10,90,85,32,0,34.9,0.825,56,1
306,10,161,68,23,132,25.5,0.326,47,1
128,1,117,88,24,145,34.5,0.403,40,1
451,2,134,70,0,0,28.9,0.542,23,1

In [8]:
df_f

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
142,2,108,52,26,63,32.5,0.318,22,0
412,1,143,84,23,310,42.4,1.076,22,0
457,5,86,68,28,71,30.2,0.364,24,0
679,2,101,58,17,265,24.2,0.614,23,0
704,4,110,76,20,100,28.4,0.118,27,0
...,...,...,...,...,...,...,...,...,...
55,1,73,50,10,0,23.0,0.248,21,0
556,1,97,70,40,0,38.1,0.218,30,0
600,1,108,88,19,0,27.1,0.400,24,0
674,8,91,82,0,0,35.6,0.587,68,0
351,4,137,84,0,0,31.2,0.252,30,0