In [1]:
# importar bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
                    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 30],
                    'B': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                    'C': [1, 2, 3, 4, 5, 6, 7, 8, 9, 15]
                    })

In [ ]:
df

In [6]:
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
iqr = q3 - q1
print(iqr)
print(q1)
print(q3)

A    4.5
B    4.5
C    4.5
dtype: float64
A    3.25
B    3.25
C    3.25
Name: 0.25, dtype: float64
A    7.75
B    7.75
C    7.75
Name: 0.75, dtype: float64

In [7]:
# procuran valores fora do intervalo lower e upper

lower_bound = q1 - iqr*1.5
upper_bound = q3 + iqr*1.5

In [9]:
print(upper_bound)
print(lower_bound)

A    14.5
B    14.5
C    14.5
dtype: float64
A   -3.5
B   -3.5
C   -3.5
dtype: float64

In [10]:
df.describe()

              A         B          C
count  10.00000  10.00000  10.000000
mean    7.50000   5.50000   6.000000
std     8.31665   3.02765   4.082483
min     1.00000   1.00000   1.000000
25%     3.25000   3.25000   3.250000
50%     5.50000   5.50000   5.500000
75%     7.75000   7.75000   7.750000
max    30.00000  10.00000  15.000000

In [28]:
q1,q2,q3,q4 = np.percentile(df['C'], [25, 50, 75, 90])

In [29]:
print(q1,q2,q3,q4)

3.25 5.5 7.75 9.599999999999998